.portfolio_display_section{
    padding: 72px 20px;
    /* background-color: rgb(245, 239, 237); */
}
.portfolio_display_div{
max-width: 858px;
margin: 0 auto;
padding: 0px 18px;
}
.portfolio_category_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.portfolio_category_flex button{
    background-color: rgb(243, 240, 237);
    color: rgb(102, 102, 102);
    cursor: pointer;
    font-family: "Inter", system-ui, sans-serif;
    font-size: 7.875px;
    font-weight: 500;
    letter-spacing: 0.196875px;
    padding: 4.5px 13.5px;
    border: none;
}
.portfolio_category_flex button.active {
  background-color: rgb(166, 123, 63);
  color: #fff;
}
